head {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-top: 0px;
    width: 1109px;
    height: 23px; 
    font-weight: 700;
    font-size: 18px;
    color: #111111;  
}
