font {
  font-family: "Mulish", sans-serif;
  font-style: normal;
}

head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  margin-top: 0px;
  width: 1109px;
  height: 23px;
  font-weight: 700;
  font-size: 18px;
  color: #111111;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  width: 1109px;
  height: 23px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.346154px;
  color: #111111;
}

body {
  height: 2068px;
  width: 1360px;
  left: 1560px;
  top: 0px;
  border-radius: 0px;
  background: #FFFFFF;
}

.title-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.title1 {
  font-size: 40px;
  width: 475px;
  height: 110px;
}

.para-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 635px;
}

.details {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 260px;
  height: 343px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.text-1 {
  font-weight: normal;
  width: 80px;
}

.text-2 {
  font-weight: bold;
  width: 160px;
}

.hr-solid {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
}

.girl {
  width: 1110px;
  height: 660px;
}

.gridbox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ;
  grid-template-columns: repeat(1fr, 1fr, 1fr, 1fr);
  -ms-grid-rows: ;
  grid-template-rows: repeat(1fr, 1fr);
  width: 1110px;
  height: 350px;
  grid-gap: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.gridbox > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid__element {
  position: relative;
  overflow: hidden;
}

.img-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.img-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.img-3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.para-2 {
  width: 1109px;
}